{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>


<!-- Contact Heading -->

<section class="title">
    <h1>Contact Us</h1>
    <p>
        We're here to help! Have any questions,
        suggestions, or feedback? Get in touch with us.
    </p>
</section>

<!-- Contact Section -->

<section class="contact-container">

    <!-- Left -->

    <div class="contact-info">

        <h2>Get In Touch</h2>

        <div class="info">
            <i class="fa-solid fa-envelope"></i>

            <div>
                <h3>Email</h3>
                <p>gjedhe23@gmail.com</p>
            </div>
        </div>

        <div class="info">
            <i class="fa-solid fa-phone"></i>

            <div>
                <h3>Phone</h3>
                <p>+91 7666538560</p>
            </div>
        </div>

        <div class="info">
            <i class="fa-solid fa-location-dot"></i>

            <div>
                <h3>Address</h3>
                <p>Sarasnagar.Ahilyanagar, Maharashtra, India</p>
            </div>
        </div>

        <div class="info">
            <i class="fa-regular fa-clock"></i>

            <div>
                <h3>Working Hours</h3>
                <p>Mon - Sat : 9 AM - 6 PM</p>
            </div>
        </div>

    </div>

    <!-- Right -->

    <div class="contact-form">

        <h2>Send Us a Message</h2>
        {% if messages %}
    {% for message in messages %}
        <div class="success-message">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="row">
               <input type="text" name="name" placeholder="Your Name" required>
               <input type="email" name="email" placeholder="Your Email" required>
            </div>

            <input type="text" name="subject" placeholder="Subject" required>

           <textarea name="message" rows="7" placeholder="Your Message" required></textarea>

            <button type="submit">
                <i class="fa-regular fa-paper-plane"></i>
                Send Message
            </button>
            

        </form>

    </div>

</section>

<!-- Footer Card -->

<section class="footer-box">

    <i class="fa-solid fa-seedling"></i>

    <p>
        We value your feedback and are always here to support
        you and your plants.
    </p>

</section>

</body>
</html>