{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | PlantCare</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="login-container">

    <!-- Left Side -->
    <div class="left-panel">

        <img src="{% static 'images/login_page.jpeg' %}" alt="PlantCare">

    </div>

    <!-- Right Side -->
    <div class="right-panel">

        <div class="logo">
            🌿
        </div>

        <h1>Welcome Back</h1>
        {% if messages %}
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

        <p>Login to continue using PlantCare.</p>

        <form method="POST">
            {% csrf_token %}

            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>

            <div class="options">
                <label>
                    <input type="checkbox">
                    Remember me
                </label>

                <a href="#">Forgot Password?</a>
            </div>
            
            <button type="submit" class="login-btn">
                Login
            </button>

        </form>

        <div class="bottom-text">
            Don't have an account?
            <a href="{% url 'register' %}">
                Register
            </a>
        </div>

    </div>

</div>

<footer>
    © 2026 PlantCare. All Rights Reserved.
</footer>

</body>
</html>