{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>My Profile</title>

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<div class="profile-container">

    <div class="profile-card">

        <div class="profile-header">

         <div class="profile-image" id="profilePreview">
    {% if profile.photo %}
        <img src="{{ profile.photo.url }}" id="previewImage">
    {% else %}
        <i class="fa-solid fa-user" id="defaultIcon"></i>
        <img id="previewImage" style="display:none;">
    {% endif %}
</div>

           
            <h2>{{ request.user.first_name }}</h2>

            <p>USER</p>

        </div>

        <form class="profile-body" method="POST" enctype="multipart/form-data">
           {% csrf_token %}
            <div class="photo-buttons">

    <label for="photo-upload" class="change-photo">
        <i class="fa-solid fa-camera"></i>
        Change Photo
    </label>

    <button type="submit" name="delete_photo" value="1" class="delete-photo">
        <i class="fa-solid fa-trash"></i>
        Delete Photo
    </button>

</div>

<input
    type="file"
    id="photo-upload"
    name="photo"
    accept="image/*"
    hidden>

            <div class="input-box">

                <label>Full Name</label>

               <input
    type="text"
    name="name"
    value="{{ request.user.first_name }}">

            </div>

            <div class="input-box">

                <label>Email</label>

                <input type="email"
                       name="email"
                       value="{{ request.user.email }}">

            </div>

            <div class="buttons">

    <button type="submit" class="save-btn">
        Save Changes
    </button>

    <a href="{% url 'dashboard' %}" class="back-btn">
        Back to Dashboard
    </a>

</div>

        </form>

    </div>

</div>
<script>
const input = document.getElementById("photo-upload");
const previewImage = document.getElementById("previewImage");
const defaultIcon = document.getElementById("defaultIcon");

input.addEventListener("change", function () {

    const file = this.files[0];

    if(file){

        previewImage.src = URL.createObjectURL(file);
        previewImage.style.display = "block";

        if(defaultIcon){
            defaultIcon.style.display = "none";
        }
    }

});
</script>
</body>
</html>